.categories-list {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.category-card {
    background-color: var(--secondary-bg);
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    width: calc(33.333% - 1rem); 
    box-sizing: border-box; 
}

.edit-button {
    background-color: var(--button-bg); /* Use global button background */
    color: var(--text-color); /* Use global text color */
    border: none; /* No border */
    border-radius: var(--border-radius); /* Use global border radius */
    padding: var(--padding-md) var(--padding-lg); /* Use global padding */
    cursor: pointer; /* Pointer cursor on hover */
    margin: 0.25rem;
}

.edit-button:hover {
    background-color: var(--button-hover-bg); /* Use global button hover background */
}

