<div class="total-section">
    <span>Total Categories:</span>
    <span class="total-count">{{ categoryService.getCategories()().length }}</span>
</div>
<div class="categories-list">
    @for (category of this.categoryService.getCategories()(); track category.id) {
        <div class="category-card">
            <app-category 
                [id]="category.id" 
                [name]="category.name" 
                (editCategory)="openEditDialog($event)">
            </app-category>

            <button 
                class="edit-button" 
                *ngIf="selectedCategory?.id !== category.id" 
                (click)="openEditDialog(category)">
                <i class="fas fa-edit"></i>
            </button>

            <app-edit-category 
                *ngIf="selectedCategory?.id === category.id" 
                [category]="selectedCategory" 
                (closeDialog)="closeEditDialog()">
            </app-edit-category>
        </div>
    }
</div>
