:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.form-group{
    margin-bottom: 1rem;
}

.btnGroup{
    margin-top: 1rem;
}
/* Auth Container */
.auth-container {
    background-color: var(--secondary-bg);
    color: var(--text-color);
    padding: var(--padding-lg);
    border-radius: var(--border-radius);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    max-width: 400px;
    width: 100%;
    text-align: center;
    margin: 1rem;
}

/* Responsive Design */
@media (max-width: 768px) {
    .auth-container {
        max-width: 90%;
        margin: 80px auto;
    }
}

@media (max-width: 480px) {
    h3 {
        font-size: 18px;
    }

    input {
        font-size: 14px;
        padding: 8px;
    }
}
