:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: var(--padding-lg);
  background-color: var(--secondary-bg);
  color: var(--text-color);
  text-align: center;
}

.summary-container {
  max-width: 500px;
  margin: 1rem;
  width: 100%;
}

.summary-container h1 {
  margin-bottom: var(--padding-md);
}

.summary-element {
  display: block;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: var(--padding-md);
  background-color: var(--primary-bg);
  color: var(--text-color);
  margin-bottom: var(--padding-md);
}


/* Media Queries */
@media (max-width: 768px) {
  :host {
    padding: var(--padding-md);
  }
  .summary-container {
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  :host h1 {
    font-size: 1.5rem;
  }
  :host p {
    font-size: 0.9rem;
  }
}
  