<div class="day-picker-container">
    <div class="calendar-header">
      <div class="days-grid">
       @for (day of expensesTrackerService.getAvailableDays(); track $index) {
        <div [class]="expensesTrackerService.getSelectedDay()() === day ? 'selectedDay' : 'availableDay'" (click)="expensesTrackerService.setSelectedDay(day)">{{ day }}</div>
       }
       @for (day of expensesTrackerService.getUnavailableDays(); track $index) {
        <div class="unavailableDay">{{ day }}</div>
       } 
      </div>
    </div>
  </div>