.day-picker-container {
  font-family: Arial, sans-serif;
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  border-radius: var(--border-radius, 8px);
  background: white;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

.calendar-header h2 {
  text-align: center;
  color: var(--text-color, #333);
  margin-bottom: 15px;
  font-size: 1.4rem;
}

.days-grid, .dates-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  margin-bottom: 10px;
}

.availableDay {
  text-align: center;
  padding: 8px;
  font-weight: bold;
  color: var(--button-bg, #666);
  font-size: 0.9rem;
  cursor: pointer;
  transition: color 0.2s ease;
}

.selectedDay:hover,
.availableDay:hover,
.date:hover {
  color: var(--secondary-bg);
}

.unavailableDay {
  text-align: center;
  padding: 8px;
  font-weight: bold;
  color: var(--text-secondary, #666);
  font-size: 0.9rem;
  cursor: not-allowed;
}

.selectedDay {
  font-weight: bold;
  text-align: center;
  padding: 8px;
  font-size: 1.3rem;
  color: var(--text-color);
  border-radius: 50%;
}

.date {
  border: none;
  background: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 0.9rem;
}

@media (max-width: 800px) {
  .day-picker-container {
    margin: 0px;
    padding: 15px;
    height: 100%;
  }

  .availableDay, .unavailableDay, .selectedDay {
      font-size: 0.8rem;
      padding: 6px;
  }

  .days-grid {
    grid-template-columns: none;
    grid-template-rows: repeat(7, 1fr);
  }
}
