/*temporary css*/

button {
  background-color: #007bff; 
  color: white; 
  padding: 10px 20px; 
  border: none; 
  cursor: pointer; 
  margin: 10px; 
  z-index: 1000; 
  position: relative; 
}

input {
  border: 2px solid #007bff; 
  padding: 10px; 
  margin: 10px; 
  width: 200px; 
  z-index: 1000; 
  position: relative; 
}
