<div class="edit-category-dialog">
    <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
      <h2>Edit Category</h2>
      <div class="input-group">
        <label for="category-name">Category Name</label>
        <input type="text" id="category-name" formControlName="name" required />
        @if (categoryForm.get('name')?.errors?.['required'] && categoryForm.get('name')?.touched) {
          <div class="error">Name is required</div>
        }
      </div>
      <div class="actions">
        <button type="submit"  class="edit-category-button" [disabled]="!categoryForm.valid">Save</button>
        <button type="button" class="edit-category-button" (click)="onCancel()">Cancel</button>
      </div>
    </form>
  </div>
  