.expenses-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
  padding: var(--padding-md);
  background: white;
  border-radius: var(--border-radius);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.list-container{
  overflow-y:scroll;
  height:  300px;
}

.total-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  border-top: 1px solid var(--border-color);
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: var(--border-radius);
  color: black;
}

.no-expenses {
  text-align: center;
  padding: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #888;
}

.total-amount {
  color: var(--button-bg);
  font-size: 1.2rem;
  font-weight: bold;
}

@media (max-width: 800px) {
  div.expenses-list {
    height: 100%;
    margin: 0px;
  }
  .expense-item {
      flex-direction: column;
      align-items: flex-start;
  }
}


.sorting-controls {
  margin-bottom: 1rem;
}

.sorting-controls button {
  margin-right: 0.5rem;
  background: #f1f1f1;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
}

.sorting-controls button:hover {
  background: #ddd;
}
